In [1]:
a=10
b=20
print(a*b)

200

In [2]:
10*50

500

In [3]:
50/10

5.0

In [4]:
50//10

5

In [5]:
a=20
b=10
if a>b:
  print("a is greater")
if b>a:
  print("b is greater")

a is greater

In [6]:
x=10
y=10
x==y

True

In [7]:
x!=y

False

In [8]:
print("good"*2)

goodgood

In [9]:
a=10
if a>8:
  print("ok")
print("not an issue")

ok
not an issue

In [13]:
if a<8:
  print("if")
else:
  ("elif")

In [14]:
a=10
if a<8:
  print("not")
else:
  print("else")

else

In [15]:
a=100
b=200
#find which is bigger and which is smaller
if a>b:
  print("a is bigger")
else:
  print("b is bigger")

b is bigger

In [20]:
a=10
b=20
c=30
if a>b and a>c:
  print(a)
elif b>c and b>a:
  print(b)
else :
  print(c)

30

In [22]:
a=29
#a is even or odd
if a%2==0:
  print("even")
else :
  print("odd")

odd

In [23]:
k=10
if k>5:
  print ("1st if")
if k>8:
  print ("2nd if")
elif k>6:
  print ("elif")#first 2 asia

1st if
2nd if

In [24]:
h=20
g=10
if h>g:
  print ("1st if")
elif h>g:
  print ("elif")
if h>g:
  print("2nd if")#1st and last hoa

1st if
2nd if

In [25]:
h=20
g=10
if h>g:
  print ("1st if")
elif h>g:
  print ("elif")
if h>g:
  print("2nd if")#1st and last

1st if
2nd if

In [28]:
a=int(input("1st no:"))
b=int(input("2nd no:"))
c=a+b
print(c)

1st no:20
2nd no:10
30

In [30]:
a=int(input("1st.no:"))
b=int(input("2nd.no:"))
c=input("operater")
if c=="+":
  print(a+b)
elif c=="-":
  print(a-b)
elif c=="*":
  print(a*b)
elif c=="/":
  print(a/b)
else:
  print("try only +-*/")

1st.no:12
2nd.no:12
operater*
144

In [34]:
#input intiser from user , check complty divisble by 2,4 . but not for 6. if yes "dividible" other wisee not divisble#
a=int(input("put any numer:"))
if a%2==0 and a%4==0 and a%6!=0:
  print("dividible")
else:
  print("not")

put any numer:12
not

In [37]:
a=int(input("1st"))
b=int(input("2nd"))
c=int(input("3rd"))
if a+b>c and b+c>a and c+a>b:
  print("traingel")
else:
  print("not")

1st7
2nd7
3rd7
traingel

In [49]:
a=10
b=20
c=30
d=40
#swap
x=a
a=b
b=c
c=d
d=x

print (a,b,c,d)

20 30 40 10

In [52]:
for x in range (10):
  print("ok")

ok
ok
ok
ok
ok
ok
ok
ok
ok
ok

In [53]:
for x in range (3):
  print("o")
  print("k")
  print("l")

o
k
l
o
k
l
o
k
l

In [54]:
for n in range (5,50,5):
  print(n)

5
10
15
20
25
30
35
40
45

In [56]:
for n in range (2,21,2):
  print(n)

2
4
6
8
10
12
14
16
18
20

In [57]:
 #50 to 70 all even number including 50 and 70#
 for n in range (50,71,2):
  print(n)

50
52
54
56
58
60
62
64
66
68
70

In [58]:
for n in range (51,70,2):
  print(n)

51
53
55
57
59
61
63
65
67
69

In [60]:
for n in range (1,11):
  print(2*n)

2
4
6
8
10
12
14
16
18
20

In [65]:
for n in range (1,11):
#2*1=2
    print("2*",n,"=",2*n)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [67]:
a=int(input("any number:"))
for n in range (1,11):
  print(a,"*",n,"=",a*n)

any number:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [70]:
a=int(input("your number"))
for n in range (1,11):
  print(a,"*",n,"=",a*n)

your number25
25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250